<a href="https://colab.research.google.com/github/Ushna39/my-assignment-3mtt/blob/main/3mtt_week2_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Analyze asmall dataset using python, documenting the step by step process of the data analysis journey

1. Import the library

In [ ]:
  ##importing a pandas library
  import pandas as pd

2.uploading the dataset

In [ ]:
##Uploading a dataset
User = pd.read_excel("/Content/sample_ Dataset.cvs"3mtt")

3. Display the sample of dataset

In [ ]:
  #printing the sample of dataset
  Print_ (user)


     Names of jss3 students   gender   age    
S/N          

0       Rahma usman                F       14

1    Abdullahi Ada              M       15
3    Khadija Abu                F       13
4    Muhsin kabir               M       15
5    Ahmad Ashiru               M       16
6    Khadija Mansur             M       14