<a href="https://colab.research.google.com/github/Ushna39/My-assignment-3mmt/blob/main/Copy_of_Week4_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q) Build a python program utilizing data structures,conditional statements and functions to solve a data related task

1)Use of data structure

*Creating list with data

In [17]:


my_list = []  # create empty list
print(my_list)
my_list = ["aisha", "fatima", "ushna", "khaleefa", "example"]  # creating list with data
print(my_list)

[]
['aisha', 'fatima', 'ushna', 'khaleefa', 'example']

*dictionaries

In [16]:
my_dict = {} #empty dictionary
print(my_dict)
my_dict = {1: 'school', 2: 'market', 3: 'house',} #dictionary with elements
print(my_dict)

{}
{1: 'school', 2: 'market', 3: 'house'}

*using tuple

In [15]:
my_tuple = ('rukaiya,hauwa,maryam,salisu,fatima')#create tuple
print(my_tuple)

rukaiya,hauwa,maryam,salisu,fatima

*Set

In [14]:
my_set = {'market, market,shcool, house,house,room,room'} #create set
print(my_set)

{'market, market,shcool, house,house,room,room'}

2) Conditional statements

If..else..elif statement

In [13]:
# if statement example

if 10 > 5:

    print("20 greater than 10")


print("Program ended")

20 greater than 10
Program ended

In [18]:
# if..else statement
a = 4

if a == 4:

    print("Yes")

else:

    print("No")

Yes

In [11]:
#if..else..elif statement
a = 4

if a == 5:

    print("Yes")

elif a== 5:

     print("No")

else:

     print("No")

No

3) Using Function

In [9]:
def my_func():
  print("Hello! Hope you're doing well")

*Function with argument

In [ ]:
def my_func(name,place):
  print(f"assalam {name}! Are you from {place}?")
my_func("ushna","dutse")

assalam ushna! Are you from dutse?

Function with two arguments

In [8]:
def add_numbers(num1, num2):
    sum = num1 + num2
    print("Sum: ", sum)

# function call with two values
add_numbers(5, 4)

Sum:  9

In [10]:
def get_even_numbers(numbers):
    even_numbers = []
    for number in numbers:
        if number % 2 == 0:
            even_numbers.append(number)
    return even_numbers

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = get_even_numbers(numbers)
print(even_numbers)

[2, 4, 6, 8, 10]

In [6]:
 # function call

def greet():
    print('greeting!')

# call the function
greet()

print('Good morning!')

greeting!
Good morning!