<a href="https://colab.research.google.com/github/Ushna39/my-assignment-3mtt/blob/main/Week_5_assignment_3mtt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# sample data
data = {
    'A': [15, 13, 20, 10,30],
    'B': ['ushna', 'khairat', 'Amina', 'maryam', 'ruky',],
    'C': [25000, 10000, 15000, 40000, 30000]
}

df = pd.DataFrame(data)

# rename columns
df.rename(columns={'A': 'Age', 'B': 'Name', 'C': 'Salary'}, inplace=True)

print(df.to_string(index=False))

 Age    Name  Salary
  15   ushna   25000
  13 khairat   10000
  20   Amina   15000
  10  maryam   40000
  30    ruky   30000

Defining a dictionary

In [ ]:
import pandas as pd

# define a dictionary with sample data which includes some missing values
data = {
    'A': [1, 2, 3, None, 5],
    'B': [None, 2, 3, 4, 5],
    'C': [1, 2, None, None, 5]
}

df = pd.DataFrame(data)
print("Original Data:\n",df)
print()

# use dropna() to remove rows with any missing values
df_cleaned = df.dropna()

print("Cleaned Data:\n",df_cleaned)

Original Data:
      A    B    C
0  1.0  NaN  1.0
1  2.0  2.0  2.0
2  3.0  3.0  NaN
3  NaN  4.0  NaN
4  5.0  5.0  5.0

Cleaned Data:
      A    B    C
1  2.0  2.0  2.0
4  5.0  5.0  5.0

Creating DataFrame from Dictionary using default Constructor of pandas.

In [ ]:

# import pandas library

import pandas as pd

# dictionary with list object in values

details = {

    'Name' : ['ushna', 'khairat', 'salis', 'rabiu'],

    'Age' : [23, 8, 19, 27],

    'Gender' : ['F', 'F', 'M', 'M'],
}
# creating a Dataframe object

df = pd.DataFrame(details)

df

      Name  Age Gender
0    ushna   23      F
1  khairat    8      F
2    salis   19      M
3    rabiu   27      M

Creating DataFrame from list of dictionaries

In [ ]:
# Import pandas module
import pandas as pd

# Create a Python dictionary of lists
data = {'Name': ['ushna', 'khairat', 'Amina', 'Auwal'],
      'Amount paid': [50000, 40000, 30000, 70000],
      'State': ['dutse', 'kaduna', 'kano', 'abuja']}

# Create a pandas DataFrame dictionary of lists
# using pd.DataFrame() function
df = pd.DataFrame(data)
print(df)

      Name  Amount paid   State
0    ushna        50000   dutse
1  khairat        40000  kaduna
2    Amina        30000    kano
3    Auwal        70000   abuja

Creating DataFrame from dictionary with user-defined indexes

In [ ]:
# Import pandas module
import pandas as pd

# Create a Python dictionary of lists
data = {'Name': ['ushna', 'khairat', 'Amina', 'Auwal'],
      'Amount paid': [50000, 40000, 30000, 70000],
      'Number': [2, 4, 6, 1],
      'State': ['dutse', 'kaduna', 'kano', 'Abuja']}

# Create a DataFrame from dictionary of lists
# using pd.DataFrame() function with user-defined indexes
df = pd.DataFrame(data, index = ['S1', 'S2', 'S3', 'S4'])
print(df)

       Name  Amount paid  Number   State
S1    ushna        50000       2   dutse
S2  khairat        40000       4  kaduna
S3    Amina        30000       6    kano
S4    Auwal        70000       1   Abuja

Drop rows with missing values

In [ ]:
import pandas as pd
import numpy as np

# create a dataframe with missing values
data = {
    'A': [1, 2, np.nan, 4, 5],
    'B': [np.nan, 2, 3, 4, 5],
    'C': [1, 2, 3, np.nan, 5],
    'D': [1, 2, 3, 4, 5]
}
df = pd.DataFrame(data)


# remove rows with missing values
df.dropna(inplace=True)


print(df)

     A    B    C  D
1  2.0  2.0  2.0  2
4  5.0  5.0  5.0  5